* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.text {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: blue;
    text-align: center;
    justify-content: center;
    color: white;
    border: 0.5px solid white;
    width: 100%;
}

.textgreen {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    background-color: lime;
    text-align: center;
    color: white;
    border: 0.5px solid white;
    width: 100%;
}

.bigblue {
    height: 150px;
    display: flex;
    align-items: center;
    background-color: blue;
    text-align: center;
    justify-content: center;
    color: white;
    border: 0.5px solid white;
    width: 100%;
}

.bg-blue {
    background-color: blue;
}

.pad {
    padding: 1%;
}

.margtop {
    margin-top: 5%;
}

.pos1 {
    justify-content: flex-start;
}

.pos2 {
    justify-content: center;
}

.pos3 {
    justify-content: flex-end;
}

.alt1 {
    align-self: flex-start;
}

.alt2 {
    align-self: center;
}

.alt3 {
    align-self: flex-end;
}

.spaceb {
    justify-content: space-between;
}

.spacea {
    justify-content: space-around;
}