* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.text {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: blue;
    text-align: center;
    color: white;
    border: 0.5px solid white;
}

.bg-blue {
    background-color: blue;
    width: 100%;
}